* {
  background-color: rgb(17, 16, 16);
}
body {
  background-color: rgb(17, 16, 16) !important;
}
.dropdown-menu {
  background-color: rgb(17, 16, 16) !important;
}
.nav-link {
  margin: 10px;
}
#colorText {
  color: rgb(186, 177, 177);
}
.transform-white {
  transition: 0.5s linear !important;
}
.transform-white:hover {
  color: gold !important;
  text-shadow: 0 0 15px #fff, 0 0 20px #fff;
  box-shadow: 0 0 10px rgb(252, 244, 0), 0 0 15px rgb(102, 189, 14);
  border-radius: 10px;
}

.container {
  background-color: rgba(238, 159, 40, 0.75);
  border-radius: 20px;
  padding: 30px;
  align-items: center;
}
.text {
  text-align: justify;
  line-height: 1.5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 25px;
  padding: 10px;
  background-color: rgba(8, 5, 0, 0.6);
  border-radius: 20px;
  box-shadow: 0 0 20px black;
}
.grid-about {
  width: 40%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid: 100px;
}
.grid-item {
  height: 99%;
  width: 70%;
  margin: auto;
}
