@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100%;
  background: linear-gradient(to left, rgb(0, 57, 115), rgb(229, 229, 190));
}

/* Grid area */
.containerGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 7% 10% auto auto 15%;

  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar"
    ". . . . . ."
    ". infoCard infoCard imageCard imageCard ."
    ". infoCard infoCard imageCard imageCard ."
    ". . . . . .";
}

.navbarGrid {
  grid-area: navbar;
}

.infoCardGrid {
  grid-area: infoCard;
}

.imageCardGrid {
  grid-area: imageCard;
}

/* -------------------------------------------------------------- */
/* Main */
.infoCardGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 2rem 0.2rem 3rem 2rem;
  position: relative;
}
.nameTitle {
  height: 40px;
}
.description {
  text-align: justify;
  font-size: 18px;
  text-indent: 20px;
}
.imageCardGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}
.chito {
  border-radius: 200px;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.curriculumLink {
  position: absolute;
  z-index: 2;
  bottom: 1rem;
}
.glassEfect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(223, 214, 89, 0.147); /* Fondo translúcido */
  filter: blur(5px); /* Desenfoque */
  z-index: 0;
}
.borderGlassInfo {
  border-radius: 20px 0 0 20px;
}
.borderGlassImage {
  border-radius: 0 20px 20px 0;
}

/* ----------------------ANIMATIONS------------------------------- */
/* Pulse Grow */
@-webkit-keyframes curriculumAnimation {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes curriculumAnimation {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.curriculumAnimation {
  color: rgb(50, 60, 56);
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.105);
  border-radius: 20px;
}
.curriculumAnimation:hover,
.curriculumAnimation:focus,
.curriculumAnimation:active {
  -webkit-animation-name: curriculumAnimation;
  animation-name: curriculumAnimation;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
